@import url('options.css');

div#notes > h2
{
  font-family: 'Georgia', Helvetica, Arial, Tahoma, Sans, sans-serif;
  font-weight: normal;
  font-style: italic;
  font-size: 19px;
  text-align: center;
  color: #fff;
  background-color: #000;
  border-radius: 5px 0;
  padding: 10px;
  margin: 10px 0;
}

div#notes > p
{
  line-height: 1.5;
  text-indent: 1em;
  padding: 0 0 10px;
  margin: 0;
}

div#notes > p > strong.important
{
  color: #f00;
}

div#notes > ul
{
  padding: 0 0 10px 13px;
  margin: 0 auto;
}

div#notes > ul > li
{
  line-height: 1.5;
  padding: 0;
  margin: 0;
}
